*.suo
SeriousGameZ/SeriousGameZ/SeriousGameZ/obj/x86/Debug/ContentPipeline-{084B6E6F-B5B7-49A4-B9CC-B1A6EC3A1692}.xml
SeriousGameZ/SeriousGameZ/SeriousGameZ/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SeriousGameZ/SeriousGameZ/SeriousGameZ/obj/x86/Debug/SeriousGameZ.csproj.FileListAbsolute.txt
SeriousGameZ/SeriousGameZ/SeriousGameZContent/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SeriousGameZ/SeriousGameZ/SeriousGameZContent/obj/x86/Debug/SeriousGameZContent.contentproj.FileListAbsolute.txt
SeriousGameZ/SeriousGameZ.v12.suo
SeriousGameZ/SeriousGameZ.v12.suo
*.suo
*.txt
*.xml
*.pdb
*.exe
*.cachefile
*.pdb
*.pdb
*.xnb
*.exe
SeriousGameZ/SeriousGameZ/SeriousGameZ/bin/x86/Debug/SeriousGameZ.exe
*.exe
*.pdb