SeriousGameZ/SeriousGameZ/SeriousGameZ/bin/
SeriousGameZ/SeriousGameZ/SeriousGameZ/obj/
SeriousGameZ/SeriousGameZ/SeriousGameZContent/bin/
SeriousGameZ/SeriousGameZ/SeriousGameZContent/obj/
*.cachefile
bin
obj
config
SeriousGameZ\SeriousGameZ\SeriousGameZ\bin\x86\Debug
**/bin/Debug/
**/bin/Release/
Solution/*/bin/Debug
Solution/*/bin/Release
SeriousGameZ/*/bin/Debug
SeriousGameZ/*/bin/Release
SeriousGameZ/SeriousGameZ/*/bin/Debug
SeriousGameZ/SeriousGameZ/*/bin/Release